.formulario {
  text-align: center;
  margin: 2em auto;
  margin-top: 1%;
  min-width: 450px;
  max-width: 700px;
  background-color: #fcfcf6ad;
  box-shadow: 0px 3px 10px 0px #b0b0b0;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 10px 60px;
  .form-title {
    margin-block: 20px;
  }
}

.input-content {
  background-color: #ddd;
  display: block;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1em;
  padding: 5px 20px;
  text-align: inherit;
  border-radius: 50px;
  margin-bottom: 20px;
}

.input-label {
  font-weight: bold;
}

#icon {
  display: flex;
  justify-content: unset;

}

.tooltip {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-link {
  text-decoration: none;
  margin-inline: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  color: black;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
}

.button-link:hover {
  font-size: 1.2em;
  cursor: pointer;
  background-color: #ddd;
}

.Info {
  display: inline;
}

#separar {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

#separar span{
  color: yellowgreen;
}