.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    &>div {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        background: white;
        box-shadow: 0px 0px 15px #000000ca;
    }

    header {
        font-weight: bold;
    }

    h1 {
        font-size: 150%;
        margin: 0 0 15px;
    }
}

.modal-close {
    border-radius: 10%;
    background-color: #bbe0d2;
    color: #1c1a1a;
    line-height: 25px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 35px;
    text-decoration: none;

    &:hover {
        background-color: rgb(136, 32, 32);
        color: white;
    }
}


.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.modal-window {
    &>div {
        border-radius: 1rem;
    }
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}



small {
    color: lightgray;
}

.btn {
    margin-top: 2%;
    background-color: #bbe0d2;
    padding: 3%;
    border-radius: 0.3rem;
    text-decoration: none;

    i {
        padding-right: 0.3em;
    }
}

.btn:hover {
    cursor: pointer;
    background-color: #aeb3b1;
}

/* Formulario */



.form-title {
    margin-block: 20px;
}

.input-content {
    background-color: #ddd;
    display: block;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1em;
    padding: 5px 20px;
    text-align: inherit;
    border-radius: 50px;
    margin-bottom: 20px;
}

.input-label {
    font-weight: bold;
}

.errors {
    color: #ffffff;
    background-color: #fd8585;
    max-width: 80%;
    margin: 0 auto;
    display: block;
    padding-inline: 8px;
    border-radius: 50px;
}

.checked {
    color: #ffffff;
    background-color: #59d03e;
    max-width: 80%;
    margin: 0 auto;
    display: block;
    padding-inline: 8px;
    border-radius: 50px;
}

.button-link {
    background-color: #bbe0d2;
    padding: 2%;
    border-radius: 15%;
}

.button-link:hover {
    font-size: 1.2em;
    cursor: pointer;
    background-color: #aeb3b1;
}